.tableContainer {
  overflow-x: auto;
  overflow-y: auto;
}

table {
  border-collapse: collapse;
  background-color: #102733;
  position: relative;
  color: white;
  padding: 8px;
  text-align: left;
  width: 100%;
  thead {
    background-color: #102733;
    tr {
      th {
        padding: 20px 0;
        text-align: left;
        top: 0;
        position: sticky;
        border-bottom: 2px solid #bfc5c8;
        height: 100%;
        z-index: 100;
        div {
          span {
            width: 100%;
            border-radius: none;
          }
        }
      }
      &:nth-child(1) {
        th {
          span {
            background-color: transparent;
            word-break: keep-all !important;
          }
        }
      }
    }
  }
  .headings {
    .heading {
      text-align: center;
      width: 200px;
      &:nth-of-type(1) {
        width: 10px;
        color: #102733;
        font-size: 1px !important;
        background-color: #102733;
      }
    }
  }
  tr {
    height: 20px;
    td {
      text-align: center;
      vertical-align: top;
      border-bottom: 1px solid #93939350;
      &:nth-child(1) {
        border-bottom: hidden;
        padding: 0;
        width: 10px;
        div {
          span {
            background-color: transparent;
          }
        }
      }
      div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }
  }
}

span {
  border-radius: 5px;
  width: 100%;
  text-align: left;
  word-break: break-word;
  cursor: pointer;
}

.headingTitle {
  font-size: 24px;
}
